# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
target/

# Eclipse (caso você abra com Eclipse também)
.settings/
.project
.classpath

# VS Code (caso abra no VS Code)
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db